body {
    width: 80%;
    margin: 0, auto, 1rem;
    text-align: center;
}

.gallery {
    display: flexbox;
    border: 1px solid gray;
    padding: .5rem;
    border-radius: 1rem;
    flex-flow: column nowrap;
}

.gallery > .top {
    display: flexbox;
    flex-flow: row nowrap;
}